<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center" id="header">
            <h1>Eat-Da-Burger</h1>
        </div>
        <div class="col-xs-12 text-center imagediv">
            {{!-- <img src="assets/img/pixelburger.png"> --}}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 text-center">
            <br>
            <h3>Burgers Available</h3>
                {{#each data}}
                    {{#unless this.devoured}}
                        <div class="panel">
                            {{this.id}}
                            {{this.burger_name}}
                            <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                                <input type="hidden" name="burger_id" type="text" value="{{this.id}}">
                                <br>
                                <button type="submit" class="btn btn-default">DEVOUR IT!</button>
                            </form>   
                        </div>
                    {{/unless}}
                {{/each}}          
        </div>
        <div class="col-xs-6 text-center">
            <h3>Burgers Already Devoured</h3>
                {{#each data}}
                    {{#if this.devoured}}
                        <div class="panel">
                            {{this.id}}
                            {{this.burger_name}}
                        </div>
                    {{/if}}
                {{/each}}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12 text-center enter_section">
            <form action="/burgers/create" method="POST">
            <input type="text" name="burger_name" class="form-control" value="" id="burger_name">
            <button type="submit">SUBMIT</button>
            </form>
            <p>Enter in a burger you would like to eat!</p>
        </div>
    </div>
</div>